a {
  color: #A62139;
}

.button {
  cursor: pointer;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: lighter;
  padding: 10px;
  transition: all 0.2s;
  width: 100%;
}

.primary {
  background-color: #A62139;
  border: 1px solid #A62139;
  color: white;
}

.primary:hover{
  background-color: white;
  border: 1px solid #A62139;
  color: #A62139;
}

.secondary {
  background-color: white;
  border: 1px solid #A62139;
  color: #A62139;
}

.secondary:hover {
  background-color: #A62139;
  border: 1px solid #A62139;
  color: white;
}

.transparent {
  border: 1px solid #A62139;
  color: #A62139;
}

.transparent:hover{
  background-color: #A62139;
  border: 1px solid #A62139;
  color: white;
}

.plain {
  color: white;
}
