a {
  color: #77338A;
}

.button {
  cursor: pointer;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: lighter;
  padding: 0.4rem;
  transition: all 0.2s;
  width: 100%;
}

.primary {
  background-color: #77338A;
  border: 1px solid #77338A;
  color: white;
}

.primary:hover{
  background-color: #45214F;
  border: 1px solid #45214F;
}

.secondary {
  background-color: white;
  border: 1px solid #45214F;
  color: #77338A;
}

.secondary:hover {
  background-color: lightgray;
}

.transparent {
  background-color: Transparent;
  border: 1px solid white;
  color: white;
}

.transparent:hover{
  background-color: white;
  color: #77338A;
}

.plain {
  color: white;
}
