a {
  color: #77338A;
}

.button {
  border-radius: 1rem;
  cursor: url('../../cursor.svg'), auto;
  font-size: 1rem;
  font-weight: 200;
  padding: 0.4rem;
  position: relative;
  transition: all 0.2s;
  width: 100%;
}

.button:hover::after {
  background-color: black;
  color: white;
  content: attr(value);
  position: absolute;
}

.primary {
  background-color: #77338A;
  border: 1px solid #77338A;
  color: white;
}

.primary:hover{
  background-color: #45214F;
  border: 1px solid #45214F;
}

.secondary {
  background-color: white;
  border: none;
  color: #77338A;
}

.secondary:hover {
  background-color: lightgray;
}

.transparent {
  background-color: Transparent;
  border: 1px solid white;
  color: white;
}

.transparent:hover{
  background-color: white;
  color: #77338A;
}

.plain {
  color: white;
}
