html, body { height: 100% }

html {
  cursor: url('cursor.svg'), auto;
}

body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(119,51,128,1) 0%, rgba(58,133,193,1) 100%, rgba(0,212,255,1) 100%);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 0 !important;
  padding: 0 !important;
}

a {
  cursor: url('cursor.svg'), auto;
  text-decoration: none;
}

ul {
  list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border:none !important;
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
  transition: background-color 5000s ease-in-out 0s;
}
.submissions {
  /* grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 6;
  display: flex;
  flex-direction: column-reverse; */
}

.submissions_post {
  position: relative;
  transform: translateY(50px);
  transition: all 0.2s ease-out;
  white-space: pre-line;
  width: min-content;
  z-index: 2;
}

.submissions_post_edit_mode {
  border: 1px solid gray;
  overflow: auto;
  position: relative;
  resize: both;
  transform: translateY(50px);
  transition: all 0.2s ease-out;
  white-space: pre-line;
  width: min-content;
  z-index: 2;
}

.submissions_post img{
  height: auto;
  width: 16rem;
}

.submissions_post_edit_mode img{
  width: 16rem;
  height: auto;
}

.submissions_post.fade_in{
  opacity: 1;
  transform: translateY(0);
}

.submissions_post_date{
  color: gray;
}

.submissions_Post:hover {
  box-shadow: 9px 9px 20px rgba(0,0,0,0.10);
}

.Footer {
  background-color: #A62139;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  text-align: center;
  height: 90px;
}

.Blabber_Welcome {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}

.PrimaryButton {
  background-color: #A62139;
  border: 1px solid #A62139;
  color: white;
  padding: 10px;
  transition: background-color 0.2s;
  width: 10rem;
}

.PrimaryButton:hover {
  background-color: #631624;
  cursor: pointer;
}

.SecondaryButton {
  border: 1px solid #A62139;
  background-color: white;
  color: #A62139;
  padding: 10px;
  transition: background-color 0.2s;
  width: 10rem;
}

.SecondaryButton:hover {
  background-color: lightgray;
  cursor: pointer;
}

.logo {
  width: 4rem;
}

.scChromeData, .scpm { display: none !important; }

.GlobalHeader {
  display: flex;
  text-align: center;
  flex-grow: 1;
  background-color: #A62139;
  top: 0;
  width: 100%;
  transition: transform 0.2s;
  z-index: 3;
}

.GlobalHeader_Logo{
  font-size: 2rem;
  font-size: 2rem;
}

.GlobalHeader_Titles {
  padding: 0;
  flex: auto;
}

.GlobalHeader_Titles li{
  list-style: none;
  display: inline;
  padding: 10px;
}

.GlobalHeader_List {
  padding: 10px;
  display: inline-block;
  flex: auto;
}

.Header_Animation{
  transform: translate(0,-100%);
}

.create-entry {
  border: 1px solid lightgray;
  height: 30rem;
  padding: 10px;
  -webkit-box-shadow: 7px 7px 14px -7px rgba(0,0,0,0.20);
  -moz-box-shadow: 7px 7px 14px -7px rgba(0,0,0,0.20);
  box-shadow: 7px 7px 14px -7px rgba(0,0,0,0.20);
}

.create-entry-buttons {
  padding-top: 10px;
  text-align:center;
}

.Globalheader_Gears:hover > #Large_Gear {
  animation-name: large_spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#Small_Gear {
  margin-bottom: 20px;
}

.Globalheader_Gears:hover > #Small_Gear {
  animation-name: small_spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes large_spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes small_spin {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
}

.create-entry textarea {
  padding: 5px;
  font-weight: lighter;
  width: 100%;
  height: 80%;
  resize: none;
  border: none;
  outline: none;
  font-family: Helvetica, Arial, sans-serif;
}

.trash-area {
  background-color: #A62139;
  border: 1px solid #A62139;
  bottom: 0;
  color: white;
  height: 5rem;
  padding-top: 2rem;
  position: fixed;
  right: 0;
  text-align: center;
  width: 30%;
  z-index: 2;
}

.trash-area-hovered {
  background-color: white;
  border: 1px solid #A62139;
  bottom: 0;
  color: white;
  height: 5rem;
  padding-top: 2rem;
  position: fixed;
  right: 0;
  text-align: center;
  width: 30%;
  z-index: 2;
}

.trashicon {
  fill: #FFFFFF;
}

.trashicon-hovered {
  fill: #A62139;
}

.upload-modal-background {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  margin-top: -5%;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.upload-modal {
  background-color: white;
  border: 1px solid #A62139;
  left: 50%;
  padding: 2rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.edit-button {
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 3;
}

.edit-move-handle {
  color: white;
  cursor: move;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.edit-resize-handle {
  background-color: black;
  color: white;
  cursor: col-resize;
  height: 20px;
  right: 0;
  position: absolute;
  bottom: 0;
  width: 20px;
}
