.header {
  background-color: #77338A;
  display: flex;
  flex-grow: 1;
  font-weight: lighter;
  text-align: center;
  top: 0;
  transition: transform 0.2s;
  width: 100%;
  z-index: 3;
}

.header_list {
  padding: 10px;
  display: inline-block;
  flex: auto;
}

.header_left {
  padding-right: 3rem;
}

.header_right {
  padding-left: 3rem;
}

.header_logo {
  font-size: 1.3rem;
}

.header_titles {
  padding: 0;
  flex: auto;
}

.button {

}
