.sidebar {
  background-color: #45214F;
  left: 0;
  top: 0;
  transition: all 0.2s;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-bottom: 0.6rem;
  position: relative;
  padding-left: 1rem;
}

.expanded {
  margin-top: -10px;
}

.dissolve {
  display: none;
}

.sidebar button {
  margin-right: 1rem;
  margin-top: 0.6rem;
  width: auto;
}

.arrow {
  cursor: pointer;
  position: absolute;
  margin-right: 3rem;
  margin-top: 5.5rem;
  right: 0;
  top: 0;
  transform: rotate(-90deg);
  transition: all 0.2s;
}

.rotated {
  transform: rotate(180deg);
}
