a {
  color: black;
}

.list_pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page_item {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 10px 10px 65px -25px rgba(0,0,0,0.75);
  display: inline-block;
  font-weight: lighter;
  height: 12rem;
  margin: 10px 10px 10px 10px;
  overflow: hidden;
  padding: 10px;
  width: 12rem;
  transition: all 0.2s;
  -webkit-box-shadow: 10px 10px 65px -25px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 65px -25px rgba(0,0,0,0.75);
}

.page_item:hover {
  transform: scale(1.1);
}

.page_item_title {
  text-align: center;
}
