a {
  color: #77338A;
}

.form {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  /* position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); */
}

.logout a {
  text-decoration: underline;
}

.form a {
  text-decoration: underline;
}

.form input, label {
    display:block;
}

.form input {
  background-color: white;
  border: none;
  border-bottom: 1px solid #b6b6b6;
  color: black;
  font-size: 1rem;
  padding: 10px 10px 2px 0px;
  margin-bottom: 10px;
  width: 310px;
}

.form input:focus {
  border-bottom: 1px solid black;
}

.form input::placeholder {
  color: #b6b6b6;
}

.form h1 {
  text-align: center;
}

.forgot-password {
  text-align: right;
}

@media only screen and (max-width: 700px) {
  .form {
    margin-left: auto;
    margin-right: auto;
  }
}
