a {
  color: #77338A;
}

.form {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 10px 10px 65px -25px rgba(0,0,0,0.75);
  padding: 2rem;
  -webkit-box-shadow: 10px 10px 65px -25px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 65px -25px rgba(0,0,0,0.75);
}

.logout a {
  text-decoration: underline;
}

.form a {
  text-decoration: underline;
}

.flipper-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  text-decoration: underline;
}

.form input, label {
    display:block;
}

.form input {
  background-color: white;
  border: none;
  border-bottom: 1px solid #b6b6b6;
  box-sizing : border-box;
  color: black;
  font-size: 1rem;
  padding: 10px 10px 2px 0px;
  margin-bottom: 10px;
  width: 100%;
}

.form input:focus {
  border-bottom: 1px solid black;
}

.form input::placeholder {
  color: #b6b6b6;
}

.form h1 {
  text-align: center;
}

.forgot-password {
  text-align: right;
}

@media only screen and (max-width: 700px) {
  .form {
    margin-left: auto;
    margin-right: auto;
  }
}
